/*
easy'#66CD00';
intermediate'#1ca4d5';
advanced'#fbf136';
expert'#eb573a';
*/

html, body, #map-canvas {
	height: 100%;
}

body {
	margin-top: 15px;
	font-family: 'Lato', sans-serif;
	background-image: url('http://www.angelfirebikepark.com/images/angel-fire-bike-park.png');
	background-color: black;
	background-repeat: no-repeat;
	background-size: 137px;
	background-position: 13px 12px;
}

#map-canvas {
	/*border-radius: 500px;
	transform: translateZ(0px) rotate(-120deg) !important;*/
	width: 1000px;
	height: 600px;
	top: 50px;
}

#mapControls {
	position: absolute;
	margin: 50px 20px 0px 5px;
	background-color: #ebedea;
	padding: 0 10px;
	z-index: 999;
	opacity: 1.0;
	left: 30px;
	top: 200px;
}

#mapControls .mapControl {
	margin: 3px 0;
}

#mapControls .mapControl .trail {
	font-size: 12px;
}

#mapControls .mapControl label {
	cursor: pointer;
	font-size: 12px;
}

#mapControls .mapControl input {
	margin: 2px 2px 0 0px;
	vertical-align: top;
	cursor: pointer;
}

.gm-style .gm-style-iw img {
	max-height: 300px;
}

#overlayControls {
	top: 46px;
	position: absolute;
	left: 164px;
	height: 15px;
	opacity: 1.0;
}

#overlayControls .overlayControl {
	font-size: 12px;
	text-align: center;
	width: 55px;
	display: inline-block;
	top: 0;
	vertical-align: top;
	cursor: pointer;
	margin: 0 5px;
	background-color: #ebedea;
	border: 2px solid black;
}

#overlayControls .overlayControl:hover {
	border: 2px solid gray;
}

#mapControls .mapControl .difficultyName {
	text-transform: uppercase;
}

#mapControls .showAllDifficulty input {
	margin: 5px 2px 0 0px;
}



.ea {
	color: #66CD00;
	text-shadow: 0px 0px 2px #fff;
}
.in {
	color: #1ca4d5;
	text-shadow: 0px 0px 2px #fff;
}
.ad {
	color: #fbf136;
	text-shadow: 0px 0px 2px #000;
}		
.ex {
	color: #eb573a;
	text-shadow: 0px 0px 2px #fff;
}	
