html, body, #map-canvas {
	height: 100%;
}

body {
	margin-top: 15px;
	font-family: 'Lato', sans-serif;
	background-image: url('http://www.angelfirebikepark.com/images/angel-fire-bike-park.png');
	background-color: black;
	background-repeat: no-repeat;
	background-size: 137px;
	background-position: 13px 12px;
}

#map-canvas {
	/*border-radius: 500px;
	transform: translateZ(0px) rotate(-120deg) !important;*/
	width: 1300px;
	height: 600px;
	top: 50px;
}

#mapControls {
	position: absolute;
	margin: 50px 20px 0px 12px;
	background-color: #ebedea;
	padding: 5px 10px;
	z-index: 999;
	opacity: 1;
	left: 30px;
	top: 23px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.43);
	-moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.43);
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.43);
}

#mapControls .mapControl {
	margin: 2px 0;
}

#mapControls .mapControl .trail {
	font-size: 12px;
}

#mapControls .mapControl label {
	cursor: pointer;
	font-size: 12px;
}

#mapControls .mapControl input {
	margin: 1px 2px 0 0px;
	vertical-align: top;
	cursor: pointer;
}

.gm-style .gm-style-iw img {
	max-height: 300px;
}

#mapControls .difficultyName {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 2px;
}

#mapControls .difficultyName.e {
	border-bottom: 2px solid #66cd00;
}

#mapControls .difficultyName.i {
	border-bottom: 2px solid #1ca4d5;
}

#mapControls .difficultyName.a {
	border-bottom: 2px solid #fbf136;
}

#mapControls .difficultyName.x {
	border-bottom: 2px solid #eb573a;
}

#mapControls .difficultyName label {
	font-size: 12px;
	font-weight: normal;
	text-transform: none;
	cursor: pointer;
	float: right;
	margin-left: 10px;
}
#mapControls .difficultyName input {
	cursor: pointer;
	margin: 1px 2px 2px 0px;
	vertical-align: top;
}

#overlayControls {
	top: 46px;
	position: absolute;
	left: 164px;
	height: 15px;
	opacity: 1.0;
}

#overlayControls .overlayControl {
	font-size: 12px;
	text-align: center;
	width: 55px;
	display: inline-block;
	top: 0;
	vertical-align: top;
	cursor: pointer;
	margin: 0 5px;
	background-color: #ebedea;
	border: 2px solid black;
}

#overlayControls .overlayControl:hover {
	border: 2px solid gray;
}

.ea {
	color: #66CD00;
}
.in {
	color: #1ca4d5;
}
.ad {
	color: #fbf136;
}		
.ex {
	color: #eb573a;
}