html, body, #map-canvas {
	height: 100%;
}

body {
	margin-top: 15px;
	font-family: 'Lato', sans-serif;
	background-image: url('http://www.angelfirebikepark.com/images/angel-fire-bike-park.png');
	background-color: black;
	background-repeat: no-repeat;
	background-size: 137px;
	background-position: 13px 12px;
}

#map-canvas {
	border-radius: 500px;
	transform: translateZ(0px) rotate(-120deg) !important;
	width: 1000px;
	height: 1000px;
	top: -15px;
}

#mapControls {
	position: absolute;
	margin: 50px 20px 0px 5px;
	background-color: white;
	padding: 0 10px;
	z-index: 999;
	opacity: 0.8;
}

#mapControls .control {
	margin: 3px 0;
}

#mapControls .control .trail {
	font-size: 12px;
}

#mapControls .control label {
	cursor: pointer;
	font-size: 12px;
}

#mapControls .control input {
	margin: 2px 2px 0 0px;
	vertical-align: top;
	cursor: pointer;
}

.gm-style .gm-style-iw img {
	max-height: 300px;
}