html, body, #map-canvas {
	height: 100%;
}

body {
	font-family: 'Lato', sans-serif;
	background-color: white;
    margin: 0;
    top: -26px;
    position: relative;
}
body .aflogo {
    width: 137px;
    margin: 0 auto;
    position: relative;
    display: block;
}
#map-canvas {
	width: 950px;
	height: 500px;
	top: 5px;
	margin-left: 193px;
    margin-top: 23px;
}

#mapControls {
	position: absolute;
	margin: 5px 0px 0px 5px;
	background-color: #ebedea;
	padding: 5px;
	z-index: 999;
	opacity: 1;
	left: 0px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.43);
	-moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.43);
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.43);
	width:175px;
}

#mapControls .mapControl {
	margin: 0;
	height: 15px;
}

#mapControls .mapControl .trailName {
	font-size: 11px;
	display:inline-block;
	cursor:pointer;
	vertical-align: top;
	width: 116px;
}

#mapControls .mapControl label {
	cursor: pointer;
	font-size: 11px;
}

#mapControls .mapControl input {
	margin: 0px 0px 0 0px;
	vertical-align: top;
	cursor: pointer;
}

.gm-style .gm-style-iw img {
	max-height: 300px;
}

#mapControls .difficultyName {
	text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    margin-top: 3px;
    margin-bottom: 2px;
    letter-spacing: 0.5px;
}

#mapControls .difficultyName.e {
	border-bottom: 2px solid #66cd00;
}

#mapControls .difficultyName.i {
	border-bottom: 2px solid #1ca4d5;
}

#mapControls .difficultyName.a {
	border-bottom: 2px solid #fbf136;
}

#mapControls .difficultyName.x {
	border-bottom: 2px solid #eb573a;
}

#mapControls .difficultyName label {
	font-size: 10px;
	font-weight: normal;
	text-transform: none;
	cursor: pointer;
	float: right;
	margin-left: 10px;
}
#mapControls .difficultyName input {
	cursor: pointer;
	margin: 0px 2px 2px 0px;
	vertical-align: top;
}

#overlayControls {
	top: 7px;
	position: absolute;
	left: 197px;
	height: 15px;
	opacity: 1.0;
	z-index: 9;
}

#overlayControls .overlayControl {
	font-size: 12px;
	text-align: center;
	width: 55px;
	display: inline-block;
	top: 0;
	vertical-align: top;
	cursor: pointer;
	margin: 0 5px;
	background-color: #ebedea;
	border: 2px solid black;
}

#overlayControls .overlayControl:hover {
	border: 2px solid gray;
}

body .diffControls .diffControl {
	cursor: pointer;
    width: 25px;
    margin: 2px 9px;
}

.ea {
	color: #66CD00;
}
.in {
	color: #1ca4d5;
}
.ad {
	color: #fbf136;
}		
.ex {
	color: #eb573a;
}

.showAllTrails, .hideAllTrails {
    cursor: pointer;
    font-size: 12px;
    text-align: center;
}

.center {
	width: 100%;
}



