html, body, #map-canvas {
	height: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

body #map-canvas {
	height: 100%;
	top: 0px;
	margin-left: 0;
	margin-top: 0;
}

body {
	font-family: 'Lato', sans-serif;
	background-color: white;
	position: relative;
	margin: 0;
}

body #top-bar {
	height: 47px;
	background-color: #fff;
	border-bottom: 1px solid #efefef;
	box-shadow: 0 1px 4px rgba(0,0,0,0.05);
}

/* mapControls */
/*   slideout sidebar */
body #mapControls {
	background-color: #ebedea;
	z-index: 999;
	border-radius: 2px;
	width: 0; 
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	padding: 0;
	transition: width 0.3s ease;
}

body #mapControls:target {
	width: 205px;
	margin-top: 51px;
	padding: 4px;
	border-radius: 0;
	height: auto;
	background-color: #fff;
	border-right: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	box-shadow: 0 1px 4px rgba(0,0,0,0.05);
}
body #mapControls:target + #map-canvas {
	width: auto;
}


body #map-canvas {
	width: 100%;
	float: right;
}

body #mapControls .closeControls {
	text-decoration: none;	
	color: black !important;
	float: right;
	opacity: 0.4;
	margin-right: 2px;
}

body #mapControls .closeControls:hover {
	opacity: 1.0;
}

body #mapControlToggle a {
	background-color: lightgrey;
    color: black !important;
    height: 16px;
    position: absolute;
    z-index: 998;
    vertical-align: top;
    line-height: 14px;
    text-decoration: none;
    font-size: 18px;
    top: 14px;
    left: 162px;
    width: 18px;
    text-indent: 1px;
	border: 2px solid transparent;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.43);
	-moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.43);
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.43);
	background-color: #ebedea;
	opacity: 0.8;
}

body #mapControlToggle a:hover {
	border: 2px solid gray;
	opacity: 1;
}

/* mapControls */
body #mapControls .mapControl {
	margin: 0 0 1px 0;
  height: 12px;
}

body #mapControls .mapControl .trailRow {
	font-size: 11px;
	display: inline-block;
	cursor: pointer;
	vertical-align: top;
	width: 107px;
}

body #mapControls .mapControl .trailName {
	display: inline-block;
}

body #mapControls .mapControl .parkId {
	width: 14px;
	display: inline-block;
	text-align: right;
}

body #mapControls .mapControl input {
	margin: 0px 1px 0px 0px;
	vertical-align: top;
	cursor: pointer;
}

body #mapControls .diffHeader {
	height: 15px;
	margin-bottom: 2px;
	margin-top: 2px;
}

body #mapControls .diffHeader .diffControl {
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
}

body #mapControls .diffHeader .diffName {
	font-size: 11px;
	text-transform: uppercase;
	margin: 0;
	display: inline-block;
	font-weight: bold;
	vertical-align: top;
	top: 1px;
	position: relative;
	cursor: pointer;
}

body #mapControls .e {
	border-top: 1px solid #66CD00;
	border-bottom: 1px solid #66CD00;
}
body #mapControls .i {
	border-top: 1px solid #1ca4d5;
	border-bottom: 1px solid #1ca4d5;
}
body #mapControls .a {
	border-top: 1px solid #fbf136;
	border-bottom: 1px solid #fbf136;
}

body #mapControls .ex {
	border-top: 1px solid #eb573a;
	border-bottom: 1px solid #eb573a;
}

body #mapControls .allControls {
	margin-top:5px;
}

body #mapControls .allControls .showAllTrails,
body #mapControls .allControls .hideAllTrails {
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	width: 46.8%;
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 7px 0;
	border-radius: 5px;
	border: 2px solid grey;
	background-color: grey;
	color: white;
	text-shadow: 1px 0px 1px black;
	text-transform: uppercase;
}

body #mapControls .allControls .showAllTrails:hover,
body #mapControls .allControls .hideAllTrails:hover {
	background-color: black;
}

body #aflogo {
		width: 145px;
		margin: 3px;
		position: relative;
		display: block;
}

/* overlayControls */
body #overlayControls {
	top: 14px;
	position: absolute;
	left: 189px;
	height: 15px;
	opacity: 1.0;
	z-index: 9;
}

body #overlayControls .mapType {
	font-size: 12px;
	text-align: center;
	width: 55px;
	display: inline-block;
	top: 0;
	vertical-align: top;
	cursor: pointer;
	margin: 0 5px;
	background-color: #ebedea;
	z-index: 999;
	opacity: 0.8;
	left: 0px;
	border: 2px solid transparent;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.43);
	-moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.43);
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.43);
}

body #overlayControls .mapType:hover {
	border: 2px solid gray;
	opacity: 1;
}

/* elevation profile */
body #elevation_container {
    width: 350px;
    position: absolute;
    z-index: 9;
    bottom: 5%;
    right: 5%;
    display: none;
	background-color: transparent;
}
body #elevation_container .hideElevation {
	cursor: pointer;
	float: right;
	background-color: white;
	padding: 0 5px;
	color: black;
	opacity: 0.4;
}
body #elevation_container .hideElevation:hover {
	opacity: 1.0;
}
body #elevation_container #elevation_chart {
	background-color: transparent;
}

/* infoWindows */
body .gm-style-iw {
	
}

body .gm-style-iw .iw-content {
	
}

body .gm-style-iw .iw-content .iw-header {
	
}

body .gm-style-iw .iw-content .iw-segment {
	
}

body .gm-style-iw .iw-content .iw-difficulty {
	
}

body .gm-style-iw .iw-content .iw-description {
	
}

/* mobile <767px */
@media (max-width: 767px) {
	
}

/* tablet 768px-1024px */
@media (min-width: 768px) and (max-width: 1024px) {

}

/* mobile + tablet <1024px */
@media (max-width: 1024px) {
	html, body, #map-canvas {
		top: 0;
	}
	
	body #mapControls:target {
	  width: 60%;
	  overflow-y: auto;
	}
	body #mapControls:target + #map-canvas {
	  width: 40%;
	}
	body #mapControls .closeControls {
		width: 36px;
		height: 40px;
		font-size: 38px;
		vertical-align: top;
		line-height: 36px;
		position: fixed;
		left: 56%;
		top: 1%;
		opacity: 0.6;
		z-index: 9999;
	}
	body #mapControls .diffHeader {
		height: 28px;
		margin: 5px 0;
	}
	body #mapControls .diffHeader label {
	    display: block;
	    width: 100%;
	}
	body #mapControls .diffHeader .diffControl {
		width: 30px;
		height: 26px;
	}
	body #mapControls .diffHeader .diffName {
		font-size: 20px;	
	}
	body #mapControls .mapControl {
		height: auto;
		margin: 10px 0;
	}
	body #mapControls .mapControl .trailRow {
		font-size: 28px;
		width: 49%;
		display: inline-block;
		line-height: 40px;
		font-weight: bold;
	}
	body #mapControls .mapControl .parkId {
		width: 45px;
	}
	body #mapControls .mapControl input {
		width: 40px;
		margin: 0 10px;
		height: 40px;
	}
	body #mapControlToggle a {
		height: 32px;
		width: 34px;
		font-size: 36px;
		line-height: 29px;
	}
	body #mapControls .allControls .showAllTrails,
	body #mapControls .allControls .hideAllTrails {
		font-size: 26px;
		width: 49%;
	}
}

/* desktop >1025px */
@media (min-width: 1025px) {
	body {
		top: 0;
	}
}
